@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  animation: fadeIn 0.5s;
}

html {
  scroll-behavior: smooth !important;
  font-family: "Raleway", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
}
