@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  font-family: "Raleway", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  animation: fadeIn 0.5s;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
.yonatan-illustration {
  animation: slideRightToLeft 0.8s ease-in;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  .hash-link {
    @apply ml-10 text-[17px] uppercase hover:border-b hover:border-slate-400 duration-300;
  }
}
